<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">New Recipw</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action"
      *ngFor="let recipe of recipes"
    >
      <div class="float-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span class="float-right">
        <img
          [src]="recipe.imagePath"
          alt="recipeFirst"
          class="image-responsive"
          style="max-height: 50px;"
        />
      </span>
    </a>
  </div>
</div>

<app-recipe-item></app-recipe-item>
